@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="User">
    <Authorized>
        <DisplayUserInfo @rendermode="InteractiveWebAssembly"></DisplayUserInfo>
    </Authorized>

    <NotAuthorized>
        <h1>Hello, world!</h1>
    </NotAuthorized>
</AuthorizeView>

Welcome to your new app.
