@page "/Spinner"
@layout EmptyLayout

@rendermode InteractiveServer

@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager

<div class="spinner-wrapper">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(1500);
            NavigationManager.NavigateTo("/FinishLogin");
        }
    }
    
}