@page "/secret"
@attribute [Authorize(Roles = "User")]

@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Secret</PageTitle>

<DisplayUserInfo></DisplayUserInfo>

<p>This is a secret page for authorized users only!</p>

@code {
    private ClaimsPrincipal _user = default!;
    
    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _user = authenticationState.User;
    }

}
